REACT_APP_API_URL = LINK TO YOUR API

REACT_APP_Tusker_API_KEY = Tusker_API_KEY
REACT_APP_EAT_BETTER_CO_API_KEY = EAT_BETTER_CO_API_KEY
REACT_APP_BANK_OF_SCOTLAND_API_KEY = DECIWOOD_API_KEY
REACT_APP_CAVENDISH_ONLINE_API_KEY = CAVENDISH_ONLINE_API_KEY
REACT_APP_LLOYDS_LIVING_API_KEY = LLOYDS_LIVING_API_KEY